<div class="container">
  <div ng-repeat="player in ctrl.playerRepository.players" class="player-area {{player.color}}">
    <span class="player-badge {{player.color}}">{{player.civilization.name}}</span>

    <civbg-support-tech-tree-view tree="player.techTree"></civbg-support-tech-tree-view>

    <civbg-support-arms-info player="player"></civbg-support-arms-info>
    <!--<ng-include src="'app/components/armsInfo/armsInfo.html'"></ng-include>-->
    <!--<ng-include src="'app/components/techTree/techTree.html'"></ng-include>-->
  </div>
</div>
